.tile {
	border-radius: 2px;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	margin: 1rem;
	max-height: 240px;
	max-width: 320px;
	position: relative;
	text-align: left;
}

.tile > .img-container {
	background: transparent;
	overflow: hidden;
	text-align: center;
}
